@import 'format.css';

.alive{
    color: #5fd350;
}

.dead {
    color: rgb(211, 16, 16);
}

.no-visibility{
    display: none;
}

.inputSearch{
    position: relative;
    width: 100%;
}

.inputSearch > i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
}

.cardCharacter {
    display: flex;
    gap: 0.5rem;
    background-color: #3C3E44;
    width: 500px;
    height: 220px;
    border-radius: 8px;
    overflow-x: hidden;
    
    margin: .75rem;
}

.imgCharacter {
    flex: 2 1 0%;
}

.imgCharacter > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoCharacter {
    flex: 3 1 0%;
    padding: 0.5rem;
}

    .infoCharacter h3{
        font-size: calc(1rem + .4vw);
    }

    .infoCharacter p{
        margin-bottom: .25rem;
        font-size: calc(0.75rem + .4vw) !important;
    }

        .infoCharacter p i{
            font-size: .75rem;
        }

@media (max-width:500px){

    .cardCharacter {
        flex-direction: column;
        height: auto;
    }

    .imgCharacter > img{
        height: 300px;
    }
}