@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Economica';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    max-width: 100vw;
    overflow-x: hidden;
}



/*clases tipicas a usar*/
.full-screen{
    min-height: 100vh;
    width: 100vw;
}

.full-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    background-color: #1F272A;
}

#app > .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: #1F272A;
}