@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Economica';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: #1F272A !important;
}

/*clases tipicas a usar*/
.full-screen {
    min-height: 100vh;
    width: 100vw;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background-color: #1F272A;
}

#app>.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: #1F272A;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #0d6efd;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #0d6efd;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #0d6efd;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: white;
}

#banner {
    height: 120vh;
    background-image: url('../assets/wallpaper.jpg');
    background-position: center bottom;
}

#banner>h1 {
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    color: white;
    font-size: calc(1rem + 10vw);
    font-family: 'Economica', sans-serif;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    text-decoration: underline;
}

/*Barra de navegacion*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}