@import 'format.css';

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container:hover > .group{
    filter: brightness(22%);
}

#container:hover > .group:hover{
    filter: brightness(100%);
}

.group{
    height: 100%;
    flex-grow: 1;
    transition: all 0.4s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.group:hover{
    flex-grow: 4;
    transition:  flex 0.2s;
}

.group > div {
    padding-bottom: 6rem;
}

.group  h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 3.5vw;
    font-family: 'Economica', sans-serif;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.group:hover  h1{
    font-size: 5.3vw;
    transition: font-size 0.4s;
}


.desc{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

.group:hover  .desc{
    opacity: 1;
    transform: scale(1.1);
    padding-top: 2rem;
    transition: opacity 1s, transform 0.3s;
    transition-delay: 0s, 0.1s;
}

.desc > p{
    font-size: 1px;
    font-weight: bold;
    font-family: 'Economica', sans-serif;
    text-align: center;
}

.group:hover .desc > p{
    font-size: 3vw;
    transition: font-size 0.5s;
}

.group:not(:hover) .desc {
    opacity: 0;
}

#division {
    background-color: white;
    height: 100%;
    width: 10px;
}


@media (max-width:990px){
    #container{
        flex-direction: column;
        min-height: 100vh;
    } 

    .group{
        height: auto;
        width: 100%;
    }

    .group:not(:hover) .desc {
        opacity: 1;
    }

    .desc > p {
        font-size: 1rem;
    }

    #app > nav{
        position: relative;
    }

    .group > div {
        padding: 0;
        padding-bottom: 2rem;
    }

    #division { 
        width: 100%;
        height: 5px;
    }
}
